/target/
/.tmp-quic-*/
/.tmp-wasapi-*/
/.tmp-android-*/
*.log
run.json
.idea/
.vscode/
apps/sonara/.dart_tool/
apps/sonara/build/
apps/sonara/.flutter-plugins-dependencies
apps/sonara/android/.gradle/
apps/sonara/windows/flutter/ephemeral/
/dist
apps/sonara/android/key.properties
apps/sonara/android/release-key.jks
/.tmp-manual-lowlat
/*.tmp-*/
